@model MvcAzureAISearch.Models.SearchResult

@{
    ViewData["Title"] = "Details";
}

<h1>Search Results</h1>

<div>
    <h4>xxx</h4>
    <hr />

    @foreach (var item in Model.Details) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MetadataStorageName)
            </td>
        </tr>
}


    </dl>
</div>
<div>
    @* <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> | *@
    <a asp-action="Index">Back to List</a>
</div>